<html>
    <head>
     
        <title>
            <%= titile%>
        </title>
    </head>
    <body>
        <h1>Playground</h1>


        <ul>
           <% for (let i=1; i<10;i++) { %>

            <li>
                <%= i %>
            </li>
                

            <%}%>

        </ul>

        <% if (false){ %>
 
          <%= "it's true"%>
          

         <% }else { %>

            <%= "it's false" %>
           <p>simple man</p>
                
            <% } %>

    </body>
</html>